elitestore_ai_chat_final.json
{
  "name": "EliteStore Chatbot (Groq via HTTP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elitestore-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "elitestore-chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gsk_YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.body.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.body.message) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 300\n}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Call Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const reply = $input.first().json.choices[0].message.content.trim();\nreturn [{ json: { success: true, reply: reply } }];"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{"node": "Call Groq API", "type": "main", "index": 0}]
      ]
    },
    "Call Groq API": {
      "main": [
        [{"node": "Extract Reply", "type": "main", "index": 0}]
      ]
    },
    "Extract Reply": {
      "main": [
        [{"node": "Respond to Website", "type": "main", "index": 0}]
      ]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "tags": []
}
