n8n_elitestore_workflow.json
{
  "name": "EliteStore AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "56aba4af-24db-42eb-8caf-63c6c9755c18",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "56aba4af-24db-42eb-8caf-63c6c9755c18"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "new_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "ai_advice_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI Advice"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0000-0000-000000000002",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the lead info nicely\nconst body = $input.first().json.body;\nreturn [{\n  json: {\n    subject: `New Lead: ${body.name} wants to join as ${body.user_type}`,\n    message: `Name: ${body.name}\\nEmail: ${body.email}\\nPhone: ${body.phone}\\nType: ${body.user_type}\\nMessage: ${body.message || 'None'}`,\n    name: body.name,\n    email: body.email,\n    user_type: body.user_type\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-0000-0000-000000000003",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "jsCode": "// Format AI advice request info\nconst body = $input.first().json.body;\nreturn [{\n  json: {\n    user: body.user,\n    role: body.role,\n    timestamp: new Date().toISOString(),\n    message: `User '${body.user}' (${body.role}) requested AI market insights`\n  }\n}];"
      },
      "id": "a1b2c3d4-0004-0000-0000-000000000004",
      "name": "Log AI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead received by n8n', lead: $json.name }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0005-0000-0000-000000000005",
      "name": "Respond Lead OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, logged: true, user: $json.user }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0006-0000-0000-000000000006",
      "name": "Respond AI OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 420]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log AI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Respond Lead OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Request": {
      "main": [
        [
          {
            "node": "Respond AI OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
